* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    font-size: 18px;
    padding-bottom: 10px;
    background-color : white ;
    color : white;
    text-decoration:none; 
    margin-bottom : 100px;
}

a:link 
{ 
 text-decoration:none; 
} 

link{
	text-decoration:none; 
}
.main-nav {
	text-decoration:none; 
    list-style-type: none;
    display: none;
}

.nav-links, .logo, .material-icons {
	
    text-decoration: none;
    color: ghostwhite;
    opacity: 0.6;
}

.main-nav li {
	text-decoration: none;
    text-align: center;
    margin: 10px auto;
}

.logo {
	text-decoration: none;
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
}

.logo img {
    height: 13%;
    width: 13%;
    
}

.logo p {
    margin-top: 12px;
    padding-left: 5px;
}

.toggle-nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

.material-icons {
    font-size: 24px;
}

.active {
    display: block;
}

/* For large screen more than 600 */

@media screen and (min-width:600px) {
    .navbar {
        display: flex;
        justify-content: space-between;
        padding-bottom: 0;
        height: 70px;
        align-items: center;
        text-decoration:none; 
    }
    .toggle-nav {
    text-decoration:none; 
        display: none;
    }
    .main-nav {
    text-decoration:none; 
        display: flex;
        justify-content: end;
        margin-right: 30px;
    }
    .main-nav>li {
        margin: 0;
    }
    .nav-links {
    text-decoration:none; 
        margin-left: 20px;
    }
    .logo {
        margin-top: 0;
        
    }
}

ul,li{
	text-decoration: none;
	float : right;
	margin : 25px;
	list-style: none;
}