body{
    background: #D1F0FF;
    font-family : Courier New, Courier, Prestige, monospace;
}

#container{
	position : center;
    width:900px;
    margin:0 auto;
    margin-top:25px; 
    margin-bottom:25px; 
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container2{
	position : center;
    width:700px;
    margin:0 auto;
    margin-top:10%; 
    margin-bottom:10%; 
    text-align : justify;
    line-height: 3em;
}

/* Bordered form */

h1{
	text-align : center;
	margin-top : 75px;
	margin-left : 125px;
	width : 50%;
    margin: 0 auto;
}

h1{
	margin-bottom : 100px;
}

input[type=submit] {
    background-color: #063758;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;

}

input[type=submit]:hover {
    background-color: white;
    color: #063758;
    border: 1px solid #063758;
    
}
#error{
	color: red;
	 /* Animation de vibration sur le text de l'erreur */
  animation: shake 0.5s;

}
.main-div {
  	position: relative;
  	border: 1px solid #f1f1f1;
    background: #fff;
    margin-bottom : 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.main-div-overlay-text {
  	margin: auto;
  	text-align : center;
}

label{
	width: 150px;
	display : block;
	float : left;
	margin-left : 10px;
}

#list1{
	margin-bottom : 15px;
}

input[type=text] {
   width : 250px;
}